* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.main-layout {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  background-color: aqua;

  grid-area: 1 / 1 / -1 / 2;

  height: 100%;
  width: 100%;
}

.header {
  background-color: aliceblue;

  grid-area: 1 / 2 / -1 / 2;

  height: 100%;
  width: 100%;
}

.content {
  background-color: rgb(206, 206, 206);

  grid-area: 2 / 2 / -1 / -1;

  height: 100%;
  width: 100%;

  display: grid;
  padding: 32px;
  gap: 32px;
  box-sizing: border-box;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 70px;
}

.projects {
  grid-area: 1 / 1 / -2 / 2;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.content h1 {
  height: 64px;
  margin-top: 16px;
}

.project-container {
  flex: 1 0 auto;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.project-container > div {
  background-color: aliceblue;
  border-left: 12px solid rgba(255, 255, 0, 1);
  padding: 32px;
  padding-left: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 24px;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.imgs img {
  height: 30px;
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.announcement-container {
  background-color: aliceblue;

  flex: 1 0 auto;
  padding: 32px;
  border-radius: 8px;
  display: grid;
  gap: 10px;
}

.line {
  background-color: gray;
  height: 1px;
}

.announcement-container > div {
  display: grid;
  gap: 8px;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.trending-container {
  background-color: aliceblue;

  flex: 1 0 auto;
  padding: 32px;
  border-radius: 8px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending-container img {
    height: 30px;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.name,
.desc {
    font-size: 28px;
}

.name {
    font-weight: 600;
}