* {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: black;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.main-layout {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  background-color: rgba(0, 33, 152, 0.516);

  grid-area: 1 / 1 / -1 / 2;

  height: 98%;
  width: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: aliceblue;

  grid-area: 1 / 2 / 2 / 3;

  height: 100%;
  width: 100%;
}

.content {
  background-color: rgb(206, 206, 206);

  grid-area: 2 / 2 / -1 / -1;

  height: 100%;
  width: 100%;

  display: grid;
  padding: 32px;
  gap: 32px;
  box-sizing: border-box;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.content h1 {
  height: 64px;
  margin-top: 16px;
}

.project-container {
  flex: 1 0 auto;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.project-container > div {
  background-color: aliceblue;
  border-left: 12px solid rgba(255, 255, 0, 1);
  padding: 32px;
  padding-left: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 24px;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.imgs img {
  height: 30px;
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.announcement-container {
  background-color: aliceblue;

  flex: 1 0 auto;
  padding: 32px;
  border-radius: 8px;
  display: grid;
  gap: 10px;
}

.line {
  background-color: gray;
  height: 1px;
}

.announcement-container > div {
  display: grid;
  gap: 8px;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.trending-container {
  background-color: aliceblue;

  flex: 1 0 auto;
  padding: 32px;
  border-radius: 8px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending-container img {
  height: 30px;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.name,
.desc {
  font-size: 28px;
}

.name {
  font-weight: 600;
}

.top {
  display: flex;
  gap: 20px;
  margin-left: 50px;
  margin-top: 4vh;
}

.top img {
  height: 50px;
}

.top p {
  font-size: 50px;
}

.middle,
.bottom {
  display: grid;
  justify-content: flex-start;
  gap: 15px;

  margin-left: 50px;
}

.middle > div,
.bottom > div {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.sidebar p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
}

.middle img,
.bottom img {
  height: 35px;
}

.top p {
  font-size: 50px;
}

.middle {
  margin-top: -60vh;
}

.header {
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.tophead {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tophead > .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-left: 32px;
  gap: 20px;
}

.tophead img {
  height: 40px;
}

.bottomhead {
  grid-row: 2 / 3;
  background-color: antiquewhite;
  width: 100%;
}

input[type="search"] {
  background-color: aliceblue;
  height: 40px;
  font-size: 34px;
}

.tophead > .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-right: 32px;
  gap: 20px;
}

.right > p {
  font-size: 34px;
}