* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.main-layout {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  background-color: aqua;

  grid-area: 1 / 1 / -1 / 2;

  height: 100%;
  width: 100%;
}

.header {
  background-color: aliceblue;

  grid-area: 1 / 2 / -1 / 2;

  height: 100%;
  width: 100%;
}

.content {
  background-color: gray;

  grid-area: 2 / 2 / -1 / -1;

  height: 100%;
  width: 100%;

  display: grid;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.projects {
    grid-area: 1 / 1 / -1 / 2;

    background-color: rgba(255, 0, 0, 0.5);
}

.announcements {
    grid-area: 1 / 2 / 2 / -1;

    background-color: rgba(0, 255, 0, 0.5);
}

.trending {
    grid-area: 2 / 2 / 3 / 3;

    background-color: rgba(0, 0, 255, 0.5);
}